<style>
body {
  background-image: url('https://wallpaperaccess.com/full/1347632.jpg');
}
</style>

<div style="width: 600px">
<div id="container" style="text-align:right; width: 350px">
  <a href="/sign-out" id="sign-out">Sign out</a>
  <a href="/Makersbnb/new_property" id="new_property" >List a new space</a>
</div>
<% properties.each do |property| %>
  <h3><%= property.property_name %></h3>
  <p><%= property.description %></p>
  <p><%= property.price %>£/night</p>
  <p><%= property.availability_start %></p>
  <p><%= property.availability_end %></p>
<% end %> 
</div>